@using BlazorMonaco
@using Microsoft.CodeAnalysis
@using Microsoft.CodeAnalysis.CSharp
@using System.Runtime.Loader
@inherits MvvmComponent<FiddleViewModel>
@implements IAsyncDisposable
@inject IRoslynService RoslynService
@inject IJSRuntime JSRuntime

<div class="editor">
    <MonacoEditor @ref="DataContext.Editor" ConstructionOptions="DataContext.EditorConstructionOptions" />
</div>
<Session DataContext="DataContext.SessionViewModel"/>
<div class="button-container">
    <div class="button" @onclick="DataContext.Run">Run</div>
    <div class="button" @onclick="DataContext.Reset">Reset</div>
    <div class="button" @onclick="DataContext.ToggleSession">Session</div>
</div>
<div class="console">
    @DataContext.Output
</div>

@code {
    protected override Task OnAfterRenderAsync(bool firstRender) => DataContext.OnAfterRenderAsync();
    public ValueTask DisposeAsync() => DataContext.DisposeAsync();
}
