@using BlazorMonaco

<div class="editor">
	<MonacoEditor ConstructionOptions="EditorConstructionOptions" />
</div>
<div class="run-button-container">
    <div class="run-button" @onclick="Run">Run</div>
</div>
<div class="console">
    @_output
</div>

@code {
    private string? _output;

    [Parameter]
    public string Code { get; set; } = string.Empty;

    private StandaloneEditorConstructionOptions EditorConstructionOptions(MonacoEditor editor)
        => new() { Language = "csharp", Value = Code };

    private void Run()
    {
        _output = Code;
    }
}
